@page "/purchasing/stock/{Id:int}"

@using Realta.Frontend.Components

<PageTitle>Stock Detail</PageTitle>

<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>@stockDetailList[0].StockName</h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/purchasing">Purchasing</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Stock
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== tables-wrapper start ========== -->
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <div class="table-wrapper table-responsive">
                           <table class="table">
                                <thead>
                                    <tr>
                                        <th><h6>Barcode</h6></th>
                                        <th><h6>Status</h6></th>
                                        <th><h6>Notes</h6></th>
                                        <th><h6>Po Number</h6></th>
                                        <th><h6>Used</h6></th>
                                        <th class="min-width">
                                            <h6>Action</h6>
                                        </th>
                                    </tr>
                                    <!-- end table row-->
                                </thead>
                                <tbody>
                                   @if (stockDetailList.Count > 0)
                                    {
                                        @foreach (var stockDetail in stockDetailList)
                                        {
                                            <tr>
                                                <td class="min-width">
                                                    <p>@stockDetail.StodBarcodeNumber</p>
                                                </td>
                                                <td class="min-width">
                                                    @if (@stockDetail.StodStatus == "1 ")
                                                    {
                                                        <p>Stocked</p>
                                                    }
                                                    else if (@stockDetail.StodStatus == "2 ")
                                                    {
                                                        <p>Expired</p>
                                                    }
                                                    else if (@stockDetail.StodStatus == "3 ")
                                                    {
                                                        <p>Broken</p>
                                                    }
                                                    else if (@stockDetail.StodStatus == "4 ")
                                                    {
                                                        <p>Used</p>
                                                    }
                                                </td>
                                                <td class="min-width">
                                                    <p>@stockDetail.StodNotes</p>
                                                </td>
                                                <td class="min-width">
                                                    <p>@stockDetail.StodPoNumber</p>
                                                </td>
                                                <td class="min-width">
                                                    <p>@stockDetail.FaciRoomNumber</p>
                                                </td>
                                                <td class="min-width">
                                                    <a>
                                                        <i class="lni lni-pencil" />
                                                        <span>edit</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <!-- end table -->
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== tables-wrapper end ========== -->
    </div>
    <!-- end container -->
</section>


<div class="modal fade" id="createStock" aria-labelledby="createStockLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" action="" method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="createStockLabel">Create Stock</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">
                        <div class="input-style-1">
                            <label>Stock</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-style-1">
                            <label>Re-Order Point</label>
                            <input type="number">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="input-style-1">
                            <label>Quantity</label>
                            <input type="number">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-style-1">
                            <label>Used</label>
                            <input type="number">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-style-1">
                            <label>Scrap</label>
                            <input type="number">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="input-style-1">
                            <label>Size</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-style-1">
                            <label>Color</label>
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>


